body {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    background-color: burlywood;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 230px;
    background-color: rgba(231, 214, 58, 0.993);
    border-radius: 15px;
    margin-bottom: 10px;
    border: brown;
    border-style: solid;
    border-width: 5px;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  .button:active {
    background-color: black;
  }
  
  .button:visited {
    background-color: #ccc;
  }

  a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    padding: 1em 1.5em;
    text-transform: uppercase;
  }
  
  .buttonReturn {
      position: absolute;
      top: 50px;
      left: 5vh;
  }

  .buttonReset {
    position: absolute;
    top: 150px;
    left: 5vh;
}

  .p5Canvas {
    width: 67%;
    height: 67%;
}